<div class="card">
    <span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="isLoading$ | async"></span>
    <div class="card-body border-top p-9">
        <div class="row mb-9">
            <div class="col-lg-4 mb-3 mb-6 mb-6 mb-lg-0">
                <label for="code" class="form-label fw-semibold fs-6 required">Código del cupón:</label>
                <input type="text" id="code" name="code" [(ngModel)]="code"
                    class="form-control-solid form-control form-control-lg form-control-solid"
                    placeholder="Por ejemplo: PROMOCIONES2024">
            </div>

            <div class="col-lg-3 mb-3 mb-6 mb-lg-0">
                <div class="col-12">
                    <label class="btn btn-outline btn-outline-dashed btn-outline-default d-flex text-start p-8"
                        [ngClass]="{'active': type_discount == 1}" data-kt-button="true">
                        <span
                            class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
                            <input class="form-check-input" type="radio" (click)="changeTypeDiscount(1)"
                                name="type_discount" value="1" [checked]="type_discount == 1">
                        </span>
                        <span class="ms-5">
                            <span class="fs-6 fw-bolder mb-1 d-block">Porcentaje %</span>
                        </span>
                    </label>
                </div>
            </div>

            <div class="col-lg-3 mb-3 mb-6 mb-lg-0">
                <div class="col-12">
                    <label class="btn btn-outline btn-outline-dashed btn-outline-default d-flex text-start p-8"
                        [ngClass]="{'active': type_discount == 2}" data-kt-button="true">
                        <span
                            class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
                            <input class="form-check-input" type="radio" (click)="changeTypeDiscount(2)"
                                name="type_discount" value="2">
                        </span>
                        <span class="ms-5">
                            <span class="fs-6 fw-bolder mb-1 d-block">Monto fijo $</span>
                        </span>
                    </label>
                </div>
            </div>

            <div class="col-lg-2 mb-3 mb-6 mb-lg-0">
                <label for="discount" class="form-label fw-semibold fs-6 required">Descuento:</label>
                <input type="number" id="discount" name="discount" [(ngModel)]="discount"
                    class="form-control-solid form-control form-control-lg form-control-solid"
                    placeholder="Ejemplo: 50%">
            </div>
        </div>

        <label for="num_use" class="form-label fw-semibold fs-6 required">Gestión de usos:</label>
        <div class="row mb-6">
            <div class="col-lg-3 mb-3 mb-6 mb-lg-0">
                <div class="col-12">
                    <label class="btn btn-outline btn-outline-dashed btn-outline-default d-flex text-start p-8"
                        [ngClass]="{'active': type_count == 1}" data-kt-button="true">
                        <span
                            class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
                            <input class="form-check-input" type="radio" (click)="changeTypeCount(1)" name="type_count"
                                value="1" [checked]="type_count == 1">
                        </span>
                        <span class="ms-5">
                            <span class="fs-6 fw-bolder mb-1 d-block">Ilimitado</span>
                        </span>
                    </label>
                </div>
            </div>

            <div class="col-lg-3 mb-3 mb-6 mb-lg-0">
                <div class="col-12">
                    <label class="btn btn-outline btn-outline-dashed btn-outline-default d-flex text-start p-8"
                        [ngClass]="{'active': type_count == 2}" data-kt-button="true">
                        <span
                            class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
                            <input class="form-check-input" type="radio" (click)="changeTypeCount(2)" name="type_count"
                                value="2">
                        </span>
                        <span class="ms-5">
                            <span class="fs-6 fw-bolder mb-1 d-block">Limitado</span>
                        </span>
                    </label>
                </div>
            </div>

            <div class="col-lg-2 mb-3 mb-6 mb-lg-0" *ngIf="type_count == 2">
                <label for="num_use" class="form-label fw-semibold fs-6 required">N° de usos:</label>
                <input type="number" id="num_use" name="num_use" [(ngModel)]="num_use"
                    class="form-control-solid form-control form-control-lg form-control-solid"
                    placeholder="Ejemplo: 50%">
            </div>
        </div>

        <div class="row mb-6">
            <div class="col-4">
                <div class="row">
                    <div class="col-12 my-2">
                        <label class="btn btn-outline btn-outline-dashed btn-outline-default d-flex text-start p-8"
                            [ngClass]="{'active': type_cupone == 1}" data-kt-button="true">
                            <span
                                class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
                                <input class="form-check-input" type="radio" (click)="changeTypeCupone(1)"
                                    name="type_cupone" value="1" [checked]="type_cupone == 1">
                            </span>
                            <span class="ms-5">
                                <span class="fs-6 fw-bolder mb-1 d-block">Prodcutos</span>
                            </span>
                        </label>
                    </div>

                    <div class="col-12 my-2">
                        <label class="btn btn-outline btn-outline-dashed btn-outline-default d-flex text-start p-8"
                            [ngClass]="{'active': type_cupone == 2}" data-kt-button="true">
                            <span
                                class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
                                <input class="form-check-input" type="radio" (click)="changeTypeCupone(2)"
                                    name="type_cupone" value="2" [checked]="type_cupone == 2">
                            </span>
                            <span class="ms-5">
                                <span class="fs-6 fw-bolder mb-1 d-block">Categorias</span>
                            </span>
                        </label>
                    </div>

                    <div class="col-12 my-2">
                        <label class="btn btn-outline btn-outline-dashed btn-outline-default d-flex text-start p-8"
                            [ngClass]="{'active': type_cupone == 3}" data-kt-button="true">
                            <span
                                class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
                                <input class="form-check-input" type="radio" (click)="changeTypeCupone(3)"
                                    name="type_cupone" value="3" [checked]="type_cupone == 3">
                            </span>
                            <span class="ms-5">
                                <span class="fs-6 fw-bolder mb-1 d-block">Marcas</span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="row">
                    <div class="col-12" *ngIf="type_cupone == 1">
                        <label class="fw-semibold fs-6 py-2 required">Productos:</label>
                        <select class="form-control form-select-solid fw-bolder" name="product_id"
                            placeholder="Selec. Producto" [(ngModel)]="product_id">
                            <option value="" disabled selected>-- Seleccione --</option>
                            <ng-container *ngFor="let item of products">
                                <option [value]="item.id">{{item.title}}</option>
                            </ng-container>
                        </select>
                    </div>

                    <div class="col-12" *ngIf="type_cupone == 2">
                        <label class="fw-semibold fs-6 py-2 required">Departamento:(Primer nivel)</label>
                        <select class="form-control form-select-solid fw-bolder" name="categorie_id"
                            placeholder="Selec. Departamento" [(ngModel)]="categorie_id">
                            <option value="" disabled selected>-- Seleccione --</option>
                            <ng-container *ngFor="let item of categories_first">
                                <option [value]="item.id">{{item.name}}</option>
                            </ng-container>
                        </select>
                    </div>

                    <div class="col-12" *ngIf="type_cupone == 3">
                        <label class="fw-semibold fs-6 py-2 required">Marcas:</label>
                        <select class="form-control form-select-solid fw-bolder" name="brand_id"
                            placeholder="Selec. Marca" [(ngModel)]="brand_id">
                            <option value="" disabled selected>-- Seleccione --</option>
                            <ng-container *ngFor="let item of brands">
                                <option [value]="item.id">{{item.name}}</option>
                            </ng-container>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="row">
                    <div class="col-12" *ngIf="type_cupone == 1">
                        <div id="kt_table_users_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="table-responsive w-100" style="max-height: 200px; overflow-y: auto;">
                                <table class="table align-middle gs-0 gy-4">
                                    <thead class="mb-6 sticky-top bg-light z-index-100">
                                        <tr> <!-- Modified: Added "text-center" class -->
                                            <th class="text-center">IMAGEN</th>
                                            <th class="text-center">PRODUCTO</th>
                                            <th class="text-center">ACCIÓN</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let product of products_add; let i = index">
                                            <td class="text-center"> <!-- Modified: Added "text-center" class -->
                                                <img [src]="product.imagen" width="60" alt="">
                                            </td>

                                            <td>
                                                {{product.title}}
                                            </td>

                                            <td class="text-center"> <!-- Modified: Added "text-center" class -->
                                                <button class="ml-5 btn btn-sm btn-danger" data-bs-toggle="tooltip"
                                                    title="Delete Image" (click)="removeProduct(product)">X</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div *ngIf="!(products_add && products_add.length > 0)" class="text-center pt-9">
                                    <p>No hay registros para mostrar.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12" *ngIf="type_cupone == 2">
                        <div id="kt_table_users_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="table-responsive w-100" style="max-height: 200px; overflow-y: auto;">
                                <table class="table align-middle gs-0 gy-4">
                                    <thead class="mb-6 sticky-top bg-light z-index-100">
                                        <tr> <!-- Modified: Added "text-center" class -->
                                            <th class="text-center">IMAGEN</th>
                                            <th class="text-center">TITULO</th>
                                            <th class="text-center">ACCIÓN</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let categorie of categories_add; let i = index">
                                            <td class="text-center"> <!-- Modified: Added "text-center" class -->
                                                <img [src]="categorie.name" width="60" alt="">
                                            </td>

                                            <td>
                                                {{categorie.title}}
                                            </td>

                                            <td class="text-center"> <!-- Modified: Added "text-center" class -->
                                                <button class="ml-5 btn btn-sm btn-danger" data-bs-toggle="tooltip"
                                                    title="Delete Image" (click)="removeCategorie(categorie)">X</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div *ngIf="!(categories_add && categories_add.length > 0)" class="text-center pt-9">
                                    <p>No hay registros para mostrar.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12" *ngIf="type_cupone == 3">
                        <div id="kt_table_users_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="table-responsive w-100" style="max-height: 200px; overflow-y: auto;">
                                <table class="table align-middle gs-0 gy-4">
                                    <thead class="mb-6 sticky-top bg-light z-index-100">
                                        <tr> <!-- Modified: Added "text-center" class -->
                                            <th class="text-center">NOMBRE</th>
                                            <th class="text-center">ACCIÓN</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let brand of brands_add; let i = index">
                                            <td class="text-center"> <!-- Modified: Added "text-center" class -->
                                                <img [src]="brand.imagen" width="60" alt="">
                                            </td>

                                            <td>
                                                {{brand.title}}
                                            </td>

                                            <td class="text-center"> <!-- Modified: Added "text-center" class -->
                                                <button class="ml-5 btn btn-sm btn-danger" data-bs-toggle="tooltip"
                                                    title="Delete Image" (click)="removeBrand(brand)">X</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div *ngIf="!(brands_add && brands_add.length > 0)" class="text-center pt-9">
                                    <p>No hay registros para mostrar.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-sm-6">
            <div class="col-12 col-sm-12 col-md-3">
                <button class="btn btn-primary w-100 w-md-auto" (click)="save()">
                    <ng-container *ngIf="isLoading$ | async">
                        <span class="indicator-progress" [style.display]="'block'">
                            Please wait...
                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                        </span>
                    </ng-container>
                    <ng-container *ngIf="(isLoading$ | async) === false">
                        <span class="indicator-label">Guardar</span>
                    </ng-container>
                </button>
            </div>
        </div>
    </div>
</div>